# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

.clangd

# output files
3_molecularDynOpt/data
2_molecularDyn/data
2_molecularDyn/.vtk
3_molecularDynOpt/*.vtk
4_DEM/*.vtk
4_DEM/data
2_molecularDyn/run.sh
3_molecularDynOpt/run.sh
4_DEM/run.sh

.vscode
2_molecularDyn/build
3_molecularDynOpt/build
4_DEM/build
build